@use "../utils/variables";

.loader {
    background-color: variables.$color-tertiary;
    opacity: 0.9;
    padding: 4em 3em;
    position: fixed;
    inset: 0;
    z-index: 1;
    border-radius: 20px;
    transform-origin: top;
    animation: disappear 200ms forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-delay: 2s;
    }
  svg {
    height: 150px;
    width: 150px;
  }
  svg circle {
    fill: none;
    stroke: variables.$purple;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    stroke-linecap: round;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: circle 2s forwards ease-in-out;
  }
  .loader-title {
    font-weight: bolder;
    font-size: 5em;
    color: variables.$purple;
    animation: appear 1s forwards;
  }
  span {
    color: variables.$darkgrey;
    animation: appear 2s forwards;
  }

  @keyframes circle {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes disappear {
    to {
      transform: scale(0);
    }
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  