/* Error: There is no module with the namespace "animations".
 *     ,
 * 131 |             @include animations.quarterspin;
 *     |             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   Sass\pages\restaurant.scss 131:13  @use
 *   style.scss 8:1                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "animations".\a     \2577 \a 131 \2502              @include animations.quarterspin;\d\a     \2502              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   Sass\\pages\\restaurant.scss 131:13  @use\a   style.scss 8:1                     root stylesheet';
}
